@model Nailhang.Web.Models.ModuleModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Namespace</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(w => w.DisplaySettings, "DisplaySettings")
    <input type="submit" value="Обновить" />
}

<div class="row">
    <div>
        @Html.Partial("~/Views/Module/ModuleView.cshtml", Model)
    </div>

</div>

