@model Nailhang.Web.Models.ModuleModel
@{
    ViewBag.Title = "Index";
}
<br />

<div class="jumbotron">
    <div class="container">
        <h2>
            @{string nameSpace = Model.Module.FullName;}
            @nameSpace
        </h2>
        </div>
    </div>

        <div class="row">
            <div>
                @Html.Partial("~/Views/Module/ModuleView.cshtml", Model)
            </div>

        </div>

