@model Nailhang.Web.Models.ModuleModel
@{
    ViewBag.Title = "Index";
}
<br/>

@using (Html.BeginForm())
{
    @Html.HiddenFor(w => w.Module.FullName)
    @Html.Hidden("formUpdate", true)
    { Html.RenderAction("RenderParameters", "Home"); }
    Html.RenderPartial("~/Views/Home/DependenciesSettings.cshtml", (Nailhang.Web.Models.DisplaySettings)Session["DisplaySettings"]);
    <input type="submit" value="Обновить" />
}

<h2>
    @{string nameSpace = Model.Namespace;}
    @nameSpace
</h2>

<div class="row">
    <div>
        @Html.Partial("~/Views/Module/ModuleView.cshtml", Model)
    </div>

</div>

