@model Nailhang.Web.Models.DisplaySettings


<div>
    @Html.EditorFor(x => x.ShowDependencies)
    Отображать зависимости
</div>

<div>
    @Html.EditorFor(x => x.ShowObjects)
    Отображать объекты
</div>

<div>
    @Html.EditorFor(x => x.ShowInterfaces)
    Отображать интерфейсы
</div>

<div>
    @Html.EditorFor(x => x.CalcDependenciesWithChildNodes)
    Учитывать зависимости дочерних узлов
</div>


    
