@{
    ViewBag.Title = "О программе";
}
    <div class="jumbotron">
        <div class="container">
            <h2>@ViewBag.Title.</h2>
            <h5>@ViewBag.Message</h5>
        </div>
    </div>

        <address>
            <a href="mailto:arkhivania@gmail.com">Письмо для arkhivania</a>
            <br>
            <a href="http://www.multivox.ru">www.multivox.ru</a>
        </address>
