[Unit]
    Description=Nailhang on Ubuntu

    [Service]
    WorkingDirectory=/home/arkhivania/dev/netass/NetAssScanner/Nailhang.Web/bin/Debug/netcoreapp1.1/publish/
    ExecStart=/usr/bin/dotnet /home/arkhivania/dev/netass/NetAssScanner/Nailhang.Web/bin/Debug/netcoreapp1.1/publish/Nailhang.Web.dll
    Restart=always
    RestartSec=10                                          
    SyslogIdentifier=nailhang_service
    User=arkhivania
    Environment=ASPNETCORE_ENVIRONMENT=Production

    [Install]
    WantedBy=multi-user.target
