@model Nailhang.Web.Models.InterfacesModel

@{
    ViewBag.Title = "Элементы привязок";
}

<h2>Элементы привязок</h2>

@using (Html.BeginForm("Index", "Interfaces", FormMethod.Get))
{
    <br />
    <div>
        Содержит:
        @Html.EditorFor(w => w.Contains)
        
        <input class="btn btn-primary" type="submit" value="Обновить" />
    </div>
}

<br />
    @foreach (var s in Model.Interfaces)
    {   
        @Html.ActionLink(s, "Index", "Interface", new { interfaceHash = s.ToMD5() }, null)
        <br/>
    }

